@import 'src/styles/variables';

@keyframes ldio-bxdqgitwpew-o {
  0%    { opacity: 1; transform: translate(0 0) }
  49.99% { opacity: 1; transform: translate(80px,0) }
  50%    { opacity: 0; transform: translate(80px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-bxdqgitwpew {
  0% { transform: translate(0,0) }
  50% { transform: translate(80px,0) }
  100% { transform: translate(0,0) }
}
.loading-item div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.loading-item div:nth-child(1) {
  background: $highlight-color;
  animation: ldio-bxdqgitwpew 1s linear infinite;
  animation-delay: -0.5s;
}
.loading-item div:nth-child(2) {
  background: $primary-color;
  animation: ldio-bxdqgitwpew 1s linear infinite;
  animation-delay: 0s;
}
.loading-item div:nth-child(3) {
  background: $highlight-color;
  animation: ldio-bxdqgitwpew-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: transparent;
}
.loading-item {
  width: 200px;
  height: 200px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading-item div { box-sizing: content-box; }
