@import 'src/styles/variables';
@import 'src/styles/buttons';

.mobileTitle {
  display: none;

  @media (max-width: 1200px) {
    display: inline;
  }
}

.userCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: $border;
  cursor: pointer;
  border-radius: 5px;
  background-color: $background-card-color;
  width: 50%;

  &:hover {
    background-color: $background-hover-card-color;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
  }
  @media (max-width: 500px) {
    min-width: fit-content;
  }

  .userCardTitleContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;

    @media (max-width: 1200px) {
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
    }

    .userCardTitle {
      align-self: center;
      width: 5%;

      @media (max-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
        width: 100%;
      }

      @media (max-width: 500px) {
        flex-direction: column;
      }

      .userCardEmailTitle {
        color: #388fee;
      }
    }
  }

  .deleteButton {
    align-self: center;
    @extend .button;
    @extend .button--danger;

    @media (max-width: 1200px) {
      align-self: auto;
    }
  }
}
