@import 'src/styles/variables';
@import 'src/styles/buttons';

.search-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 50%;
  margin-bottom: 5%;

  @media (max-width: 1140px) {
    flex-direction: column;
  }

  .search-input {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 5px;
    border: $border;
    outline: none;

    &:focus {
      border-color: #999;
    }
  }

  .reset-button {
    margin-left: 1rem;
    @extend .button;
    @extend .button--primary;

    @media (max-width: 1140px) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
